.login, .register {
    width: calc(400px * 1.5); /* Увеличиваем ширину в 1.5 раза */
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login h2, .register h2 {
    text-align: center;
}

.login form, .register form {
    display: flex;
    flex-direction: column;
}

.login form div, .register form div {
    margin-bottom: 10px;
}

.login form label, .register form label {
    margin-bottom: 5px;
}

.login form input, .register form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login form button, .register form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: hotpink;
    color: #fff;
    cursor: pointer;
    width: 100px;
    text-align: center;
    margin-left: auto; /* Автоматический отступ слева */
    margin-right: auto; /* Автоматический отступ справа */
    margin-top: 20px; /* Добавьте отступ сверху, если необходимо */
}

.login p {
    text-align: center;
    margin-top: 10px;
}

.login p a {
    color: #333;
    text-decoration: none;
}