.restaurant-list {
    display: flex;
    flex-direction: column; /* Расположение элементов в колонку */
    align-items: center; /* Центрирование элементов по горизонтали */
    gap: 40px; /* Увеличиваем отступ между карточками */
    padding: 20px;
}

.restaurant-card {
    border: 1px solid #ccc;
    padding: 20px; /* Увеличиваем внутренние отступы */
    text-align: center;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 30px; /* Увеличиваем радиус скругления углов */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Увеличиваем тень */
    overflow: hidden;
    width: 600px; /* Увеличиваем ширину карточки в два раза */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant-card img {
    width: 200px; /* Увеличиваем ширину изображения в два раза */
    height: 200px; /* Увеличиваем высоту изображения в два раза */
    border-radius: 10px; /* Увеличиваем радиус скругления углов изображения */
    object-fit: cover;
    margin-bottom: 30px; /* Увеличиваем отступ снизу изображения */
}

.restaurant-card .restaurant-name {
    margin-top: 20px; /* Добавляем отступ сверху для названия ресторана */
    font-size: 24px; /* Увеличиваем размер шрифта для названия ресторана */
    margin-bottom: 20px; /* Добавляем отступ снизу для названия ресторана */
}

.restaurant-card a {
    background-color: hotpink; /* Розовый фон для кнопки */
    color: #fff; /* Белый текст */
    padding: 10px 20px; /* Внутренние отступы для кнопки */
    border-radius: 15px; /* Скругление углов кнопки */
    text-decoration: none; /* Убираем подчеркивание текста */
    transition: background-color 0.3s ease; /* Плавный переход цвета фона */
}

.restaurant-card a:hover {
    background-color: rgba(255, 105, 180, 0.8); /* Затемнение фона при наведении */
}
